# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: ${env:ORG}
# "service" is the name of this project. This will also be added to your AWS resource names.
service: Hotell-API

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  profile: ${env:PROFILE}
  iam:
    role: ${env:IAM_Role}

functions:
  DeleteBookings:
    handler: functions/DeleteBookings/index.handler
    events:
      - httpApi:
          path: /bookings/{id}
          method: delete
  GetBookings:
    handler: functions/GetBookings/index.handler
    events:
      - httpApi:
          path: /bookings
          method: get

  PostBookings:
    handler: functions/PostBooking/index.handler
    events:
      - httpApi:
          path: /bookings
          method: post
  PostRooms:
    handler: functions/PostRooms/index.handler
    events:
      - httpApi:
          path: /rooms
          method: post

resources:
  Resources:
    HotellBookingTables:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: hotell-Bookings
        AttributeDefinitions:
          - AttributeName: roomId
            AttributeType: S
          - AttributeName: bookingId
            AttributeType: S
        KeySchema:
          - AttributeName: roomId
            KeyType: HASH
          - AttributeName: bookingId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

        GlobalSecondaryIndexes:
          - IndexName: BookingIdIndex
            KeySchema:
              - AttributeName: bookingId
                KeyType: HASH       # now we can query by bookingId directly
            Projection:
              ProjectionType: ALL

    HotellRoomsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: hotell-Rooms
        AttributeDefinitions:
          - AttributeName: roomId
            AttributeType: S
        KeySchema:
          - AttributeName: roomId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-dotenv-plugin
