# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: ${env:ORG}
# "service" is the name of this project. This will also be added to your AWS resource names.
service: Hotell-API

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  profile: ${env:PROFILE}
  iam:
    role: ${env:IAM_Role}

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
  DeleteBookings:
      handler: functions/DeleteBookings/index.handler
      events:
        - httpApi:
            path: /bookings/{id}
            method: delete 

resources:
  Resources:
    hotellDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: hotell-db
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-dotenv-plugin
