useDotenv: true

org: ${env:ORG}
service: Hotell-API

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  profile: ${env:PROFILE}
  iam:
    role: ${env:IAM_Role}
  environment:
    TABLE_NAME: hotell-db

functions:
  createBooking:
    handler: handler.createBooking
    events:
      - httpApi:
          path: /bookings
          method: post


resources:
  Resources:
    hotellDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: hotell-db
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-dotenv-plugin
